:root{
    --cooltone1: #3A5F5F;
    --cooltone2: #4B6681;
    --cooltone3: #366454;
    --cooltone4: #5959A6;
    --cooltone5: #9984AE;
    --cooltone6: #93B48D;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f2ee;
  margin: 0;
  padding: 0;
}

.HospiceBanner{
    background-color: var(--cooltone6);
    min-height: 600px;
    max-height: 1000px;
}

.HospiceBannerMiddle{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 50px;
}

.HospiceBlurb{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.HospiceTitle{
    width: 50%;
    
}

.HospiceIcon{
    width: 45px;
    height: 45px;
    background-color: var(--cooltone5);
    display:inline-block;
    border-radius: 10px;
}

.HospiceHeart{
    margin-left: auto;
    margin-right: auto;
}

.HospiceTitleText{
    font-size: 55px;
    display: inline-block;
    padding-left: 10px;
}

.HospiceDescription{
    width: 40%;
}

.HospiceContactButton{
    background-color: white;
    padding: 10px;
    width: 5%;
    min-width: 155px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: lightgrey;
    transition-duration: 0.75s;
}

.HospiceContactButton:hover {
    background-color: lightblue;
    border-color: blue;
    transition-duration: 0.75s;
}

.HospiceHomeButton{
    background-color: lightgrey;
    padding: 10px;
    width: 5%;
    min-width: 155px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    transition-duration: 0.75s;
}

.HospiceHomeButton:hover {
    background-color: lightblue;
    border-color: blue;
    transition-duration: 0.75s;
}

.HospiceInformationCards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.HospiceInformationCard{
    background-color: var(--cooltone3);
    border-radius: 10px;
    padding: 15px;
    width: 30%;
    transition-duration: 0.75s;
}

.HospiceInformationCard:hover{
    background-color: var(--cooltone4);
    transition-duration: 0.75s;
}

.HospiceInformationCardTitle{
    color: lightgrey;
    font-size: 25px;
    margin: 10px;
}

.HospiceInformationCardBottom{
    color: lightsteelblue;
    margin: 10px;
}

.UnderstandingHospiceSection {
    background-color: var(--cooltone5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

h2{
    text-align: center;
    color: lightgrey;
    font-size: 40px;
    padding: 10px;
}

.HospiceCareAndBenefits{
    background-color: var(--cooltone2);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.HospiceComprehensiveServices{
    background-color: var(--cooltone5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.HospiceAboveAndBeyond{
    background-color: var(--cooltone2);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.HospiceAboveAndBeyondText{
    color: lightgrey;
    margin-left: 20%;
    margin-right:20%;
    padding-bottom: 10px;
}

.HospiceAboveAndBeyondCard{
    background-color: var(--cooltone3);
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    transition-duration: 0.75s;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.HospiceAboveAndBeyondCard:hover{
    background-color: var(--cooltone4);
    transition-duration: 0.75s;
}

.HospiceCheckmark{
    display:inline-block;
    width:36px;
    height:36px;
}

.HospiceAboveAndBeyondCardText{
    display:inline-block;
    color: lightgrey;
    font-size: 25px;
    margin-left: 20px;
}

.HospiceProcess{
    background-color: var(--cooltone5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.HospiceProcessSteps{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.HospiceProcessStep{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: lightgrey;
}

.HospiceProcessCircle{
    background-color: green;
    border-radius: 50%;
    height: 120px;
    width:120px;
    text-align: center;
    color: lightgrey;
    font-size: 80px;
}

.HospiceProcessStepTitle{
    text-align: center;
}

.HospiceProcessStepText{
    text-align: center;
    width: 300px;
}

.HospiceContact{
    background-color: var(--cooltone6);
    min-height: 260px;
}

.HospiceContactMiddle{
    display: flex;
    flex-direction: column;
    align-items: center;;
    gap: 20px;
}

.HospiceContactText{
    max-width: 350px;
}

.HospiceContactButtons{
    display:flex;
    gap: 10px;
}